
        <form action="send_mail.php" method="POST">
          <div class="form first">
            <div>


              <div class="fields">
                <div class="input-field">
                  <label>name</label>
                  <input name="name" type="text" placeholder="Type Here" required>

                </div>

                <div class="input-field">
                  <label>email</label>
                  <input name="email" type="email" placeholder="Type Here" required>
                </div>


                <div class="input-field">
                  <label>tel</label>
                  <input name="tel" type="text" placeholder="Type Here">
                </div>

                <button type="submit" name="submit" value="send">send</button>
                </div>
                </div>
                </div>
                </form>